USE [master]
GO
/****** Object:  Database [wsBalakin]    Script Date: 13.01.2022 12:17:15 ******/
CREATE DATABASE [wsBalakin]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'wsBalakin', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQL\MSSQL\DATA\wsBalakin.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'wsBalakin_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQL\MSSQL\DATA\wsBalakin_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [wsBalakin].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [wsBalakin]
GO
/****** Object:  Table [dbo].[Areas]    Script Date: 13.01.2022 12:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Areas](
	[OdjId] [int] NOT NULL,
 CONSTRAINT [PK_Areas] PRIMARY KEY CLUSTERED 
(
	[OdjId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 13.01.2022 12:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientFam] [nchar](50) NULL,
	[ClientName] [nchar](50) NULL,
	[ClientSName] [nchar](50) NULL,
	[ClientId] [int] NOT NULL,
	[ClientNumb] [nchar](20) NULL,
	[ClientMail] [nchar](50) NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 13.01.2022 12:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[EventId] [int] NOT NULL,
	[EventTypeId] [int] NOT NULL,
	[EventDate] [datetime] NOT NULL,
	[EventDuration] [int] NULL,
	[ClientId] [int] NOT NULL,
	[RilsId] [int] NOT NULL,
 CONSTRAINT [PK_Event] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventType]    Script Date: 13.01.2022 12:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventType](
	[EventTypeId] [int] NOT NULL,
	[EventTypename] [nchar](50) NOT NULL,
 CONSTRAINT [PK_EventType] PRIMARY KEY CLUSTERED 
(
	[EventTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Homes]    Script Date: 13.01.2022 12:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Homes](
	[HomeId] [int] NOT NULL,
	[ObjId] [int] NOT NULL,
	[HomeFloor] [int] NULL,
	[HomeRoom] [int] NULL,
 CONSTRAINT [PK_Homes] PRIMARY KEY CLUSTERED 
(
	[HomeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Houses]    Script Date: 13.01.2022 12:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Houses](
	[HouseId] [int] NOT NULL,
	[ObjId] [int] NOT NULL,
	[HouseFloor] [int] NULL,
	[HouseRoom] [int] NULL,
 CONSTRAINT [PK_Houses] PRIMARY KEY CLUSTERED 
(
	[HouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NeedAreas]    Script Date: 13.01.2022 12:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NeedAreas](
	[NeedId] [int] NOT NULL,
	[MinS] [real] NULL,
	[MaxS] [real] NULL,
 CONSTRAINT [PK_NeedAreas] PRIMARY KEY CLUSTERED 
(
	[NeedId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NeedHome]    Script Date: 13.01.2022 12:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NeedHome](
	[NeedId] [int] NOT NULL,
	[MinS] [real] NULL,
	[MaxS] [real] NULL,
	[MinRoom] [int] NULL,
	[MaxRoom] [int] NULL,
	[MinFloor] [int] NULL,
	[MaxFloor] [int] NULL,
 CONSTRAINT [PK_NeedHome] PRIMARY KEY CLUSTERED 
(
	[NeedId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NeedHouse]    Script Date: 13.01.2022 12:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NeedHouse](
	[NeedId] [int] NOT NULL,
	[MinS] [real] NULL,
	[MaxS] [real] NULL,
	[MinRoom] [int] NULL,
	[MaxRoom] [int] NULL,
	[MinFloor] [int] NULL,
	[MaxFloor] [int] NULL,
 CONSTRAINT [PK_NeedHouse] PRIMARY KEY CLUSTERED 
(
	[NeedId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Needs]    Script Date: 13.01.2022 12:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Needs](
	[NeedId] [int] NOT NULL,
	[ObjType] [int] NOT NULL,
	[RilId] [int] NOT NULL,
	[ClientId] [int] NOT NULL,
	[MinCost] [int] NULL,
	[MaxCost] [int] NULL,
 CONSTRAINT [PK_Needs] PRIMARY KEY CLUSTERED 
(
	[NeedId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Objects]    Script Date: 13.01.2022 12:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Objects](
	[ObjType] [int] NOT NULL,
	[ObjCity] [nchar](50) NULL,
	[ObjStreet] [nchar](50) NULL,
	[ObjNum] [nchar](10) NULL,
	[ObjNumKv] [nchar](10) NULL,
	[ObjSch] [real] NULL,
	[ObjDol] [real] NULL,
	[ObjId] [int] NOT NULL,
	[ObjS] [real] NULL,
 CONSTRAINT [PK_Objects] PRIMARY KEY CLUSTERED 
(
	[ObjId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ObjTypes]    Script Date: 13.01.2022 12:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObjTypes](
	[ObjType] [int] NOT NULL,
	[TypeName] [nchar](50) NOT NULL,
 CONSTRAINT [PK_ObjTypes] PRIMARY KEY CLUSTERED 
(
	[ObjType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rils]    Script Date: 13.01.2022 12:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rils](
	[RilFam] [nchar](50) NOT NULL,
	[RilName] [nchar](50) NOT NULL,
	[RilSName] [nchar](50) NOT NULL,
	[RilDolya] [int] NULL,
	[RilId] [int] NOT NULL,
 CONSTRAINT [PK_Rils] PRIMARY KEY CLUSTERED 
(
	[RilId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tender]    Script Date: 13.01.2022 12:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tender](
	[TenderId] [int] NOT NULL,
	[ObjId] [int] NOT NULL,
	[ClientId] [int] NOT NULL,
	[RilId] [int] NOT NULL,
	[Cost] [int] NOT NULL,
 CONSTRAINT [PK_Tender] PRIMARY KEY CLUSTERED 
(
	[TenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trades]    Script Date: 13.01.2022 12:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trades](
	[TradeId] [int] NOT NULL,
	[NeedId] [int] NOT NULL,
	[TenderId] [int] NOT NULL,
 CONSTRAINT [PK_Trades] PRIMARY KEY CLUSTERED 
(
	[TradeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 13.01.2022 12:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] NOT NULL,
	[Login] [nchar](50) NOT NULL,
	[Pass] [nchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Areas]  WITH CHECK ADD  CONSTRAINT [FK_Areas_Objects] FOREIGN KEY([OdjId])
REFERENCES [dbo].[Objects] ([ObjId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Areas] CHECK CONSTRAINT [FK_Areas_Objects]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [FK_Clients_Users] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Users] ([UserId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [FK_Clients_Users]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_Clients] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([ClientId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_Clients]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_EventType] FOREIGN KEY([EventTypeId])
REFERENCES [dbo].[EventType] ([EventTypeId])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_EventType]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_Rils] FOREIGN KEY([RilsId])
REFERENCES [dbo].[Rils] ([RilId])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_Rils]
GO
ALTER TABLE [dbo].[Homes]  WITH CHECK ADD  CONSTRAINT [FK_Homes_Objects] FOREIGN KEY([ObjId])
REFERENCES [dbo].[Objects] ([ObjId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Homes] CHECK CONSTRAINT [FK_Homes_Objects]
GO
ALTER TABLE [dbo].[Houses]  WITH CHECK ADD  CONSTRAINT [FK_Houses_Objects] FOREIGN KEY([ObjId])
REFERENCES [dbo].[Objects] ([ObjId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Houses] CHECK CONSTRAINT [FK_Houses_Objects]
GO
ALTER TABLE [dbo].[NeedAreas]  WITH CHECK ADD  CONSTRAINT [FK_NeedAreas_Needs] FOREIGN KEY([NeedId])
REFERENCES [dbo].[Needs] ([NeedId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NeedAreas] CHECK CONSTRAINT [FK_NeedAreas_Needs]
GO
ALTER TABLE [dbo].[NeedHome]  WITH CHECK ADD  CONSTRAINT [FK_NeedHome_Needs] FOREIGN KEY([NeedId])
REFERENCES [dbo].[Needs] ([NeedId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NeedHome] CHECK CONSTRAINT [FK_NeedHome_Needs]
GO
ALTER TABLE [dbo].[NeedHouse]  WITH CHECK ADD  CONSTRAINT [FK_NeedHouse_Needs] FOREIGN KEY([NeedId])
REFERENCES [dbo].[Needs] ([NeedId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NeedHouse] CHECK CONSTRAINT [FK_NeedHouse_Needs]
GO
ALTER TABLE [dbo].[Needs]  WITH CHECK ADD  CONSTRAINT [FK_Needs_Clients] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([ClientId])
GO
ALTER TABLE [dbo].[Needs] CHECK CONSTRAINT [FK_Needs_Clients]
GO
ALTER TABLE [dbo].[Needs]  WITH CHECK ADD  CONSTRAINT [FK_Needs_ObjTypes] FOREIGN KEY([ObjType])
REFERENCES [dbo].[ObjTypes] ([ObjType])
GO
ALTER TABLE [dbo].[Needs] CHECK CONSTRAINT [FK_Needs_ObjTypes]
GO
ALTER TABLE [dbo].[Needs]  WITH CHECK ADD  CONSTRAINT [FK_Needs_Rils] FOREIGN KEY([RilId])
REFERENCES [dbo].[Rils] ([RilId])
GO
ALTER TABLE [dbo].[Needs] CHECK CONSTRAINT [FK_Needs_Rils]
GO
ALTER TABLE [dbo].[Objects]  WITH CHECK ADD  CONSTRAINT [FK_Objects_ObjTypes] FOREIGN KEY([ObjType])
REFERENCES [dbo].[ObjTypes] ([ObjType])
GO
ALTER TABLE [dbo].[Objects] CHECK CONSTRAINT [FK_Objects_ObjTypes]
GO
ALTER TABLE [dbo].[Rils]  WITH CHECK ADD  CONSTRAINT [FK_Rils_Users] FOREIGN KEY([RilId])
REFERENCES [dbo].[Users] ([UserId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rils] CHECK CONSTRAINT [FK_Rils_Users]
GO
ALTER TABLE [dbo].[Tender]  WITH CHECK ADD  CONSTRAINT [FK_Tender_Clients] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([ClientId])
GO
ALTER TABLE [dbo].[Tender] CHECK CONSTRAINT [FK_Tender_Clients]
GO
ALTER TABLE [dbo].[Tender]  WITH CHECK ADD  CONSTRAINT [FK_Tender_Objects] FOREIGN KEY([ObjId])
REFERENCES [dbo].[Objects] ([ObjId])
GO
ALTER TABLE [dbo].[Tender] CHECK CONSTRAINT [FK_Tender_Objects]
GO
ALTER TABLE [dbo].[Tender]  WITH CHECK ADD  CONSTRAINT [FK_Tender_Rils] FOREIGN KEY([RilId])
REFERENCES [dbo].[Rils] ([RilId])
GO
ALTER TABLE [dbo].[Tender] CHECK CONSTRAINT [FK_Tender_Rils]
GO
ALTER TABLE [dbo].[Trades]  WITH CHECK ADD  CONSTRAINT [FK_Trades_Needs] FOREIGN KEY([NeedId])
REFERENCES [dbo].[Needs] ([NeedId])
GO
ALTER TABLE [dbo].[Trades] CHECK CONSTRAINT [FK_Trades_Needs]
GO
ALTER TABLE [dbo].[Trades]  WITH CHECK ADD  CONSTRAINT [FK_Trades_Tender] FOREIGN KEY([TenderId])
REFERENCES [dbo].[Tender] ([TenderId])
GO
ALTER TABLE [dbo].[Trades] CHECK CONSTRAINT [FK_Trades_Tender]
GO
USE [master]
GO
